.record-button {
    background-color: #0061fc;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .record-button:hover {
    background-color: #37aff4;
  }
  
  .input-section {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
  }
  
  .input-section h3 {
    color: #2c3e50;
    margin-bottom: 15px;
    font-size: 1.3em;
  }

  .buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .save-button {
    background-color:#02a194;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.1em;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .save-button:hover {
    background-color: #51bdb8;
  }